# Ignore node_modules directory
**/node_modules/

# Ignore TypeScript build output
**/dist/

# Ignore VSCode settings
**/.vscode/

# Ignore npm debug log
**/npm-debug.log

# Ignore environment variables file
**/.env

# Ignore TypeScript cache
**/.tsbuildinfo
